<div class="container">
    <div class="login-register-card">
        <div class="header">
            <p class="login-header" *ngIf="!register"> Login </p>
            <p class="register-header" *ngIf="register"> Register </p>
        </div>
        <div class="login-form" *ngIf="!register">
            <form #loginForm="ngForm" (submit)="loginUser(loginForm)">
                <input ngModel name="name" type="text" class="form-control" placeholder="Name" required min="5" />
                <input ngModel name="email" type="email" class="form-control" placeholder="Email" required />
                <input ngModel name="password" type="password" class="form-control" placeholder="Password" required min="5" />

                <div class="login-actions">
                    <button type="submit" class="btn btn-primary btn-block" [disabled]="!loginForm.valid"> Login </button>
                </div>

            </form>
        </div>

        <div class="register-form" *ngIf="register">
            <form #registerForm (submit)="registerUser(registerForm)">
                <input type="text" class="form-control" placeholder="Name" />
                <input type="text" class="form-control" placeholder="Email" />
                <input type="password" class="form-control" placeholder="Password" />

                <div class="register-actions">
                    <button type="submit" class="btn btn-primary btn-block"> Register </button>
                    <button type="submit" class="btn btn-secondary btn-block" (click)="toggleRegistration()"> Cancel </button>
                </div>

            </form>
        </div>

        <p class="register-link" *ngIf="!register"> Not a user? <a (click)="toggleRegistration()"> Register here </a> </p>
    </div>
</div>